:root { font-family: var(--font-base); }
@supports (font-variation-settings: normal) {
  :root { font-family: var(--font-base); }
}

// Headings
h1, h2, h3 {
  line-height: 1;
}

h1 {
  font-size: var(--step-5);
  font-weight: 900;
}
h2 {
  font-size: var(--step-4);
  font-weight: 800;
}
h3 {
  font-size: var(--step-3);
  font-weight: 700;
}

p, li, blockquote:not([class]) {
  max-width: var(--max-characters);
}

// Links
a {
  color: var(--color-link);
  // text-decoration: none;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 2px solid;
  outline-offset: 0.3ch;
}

:target {
  scroll-margin-top: 2ex;
}

// Blockquote
blockquote:not([class]) {
  font-family: var(--font-serif);
  font-size: var(--step-2);
  p:last-of-type {
    font-family: var(--font-base);
    font-size: var(--step-1);
    font-weight: normal;
  }
}

// Lead
.lead {
  font-size: var(--step-1);
}
.introduction {
  font-size: var(--step-2);
  opacity: 0.5;
}

.text-center {
  text-align: center;
}

// Responsive 
.phone-only {
  @media only screen and (min-width: $breakpoint-mobile) {
    display: none;
  }
}
.desktop-only {
  @media only screen and (max-width: $breakpoint-mobile) {
    display: none;
  }
}


