// Headings
h1, h2, h3 {
  line-height: 1;
  letter-spacing: var(--tracking-s);
  max-width: 20ch;
  font-weight: 400;
}

h1 {
  font-size: var(--step-5);
}
h2 {
  font-size: var(--step-4);
}
h3 {
  font-size: var(--step-3);
}

p, li, blockquote:not([class]) {
  max-width: var(--max-characters);
}

// Links
a {
  color: var(--color-link);
  // text-decoration: none;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: 2px solid;
  outline-offset: 0.3ch;
}

:target {
  scroll-margin-top: 2ex;
}

// Blockquote
blockquote:not([class]) {
  font-family: var(--font-serif);
  font-size: var(--step-2);
  p:last-of-type {
    font-family: var(--font-base);
    font-size: var(--step-1);
    font-weight: normal;
  }
}

// Lead
.lead {
  font-size: larger;
}


