
header {
  background-color: var(--color-light);
}

nav {
  font-size: var(--step--1);
  font-weight: 200;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      padding: 20px;
      text-transform: uppercase;
    }
  } 
  a {
    color: var(--color-nav-link);
    text-decoration: none;
    &:hover {
      font-weight: 500;
    }
  }
}

// Inspired by https://buildexcellentwebsit.es/

// Add a .flow class to space correctly the children elements
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

section {
  padding-top: var(--section-space, var(--space-l-xl));
  padding-bottom: var(--section-space, var(--space-l-xl));
  position: relative;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--wrapper-max-width, 85rem);
  padding-left: var(--grid-gutter);
  padding-right: var(--grid-gutter);
  position: relative;
}

// GRID
.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
  gap: var(--grid-gutter, var(--space-s-l));
  margin-top: clamp(2rem,1.46rem + 2.72vw,3.75rem);
}
// GRID 2 columns
.grid[data-layout='2cols'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 24rem);
}
// GRID 3 columns
.grid[data-layout='3cols'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 33%, 24rem);
  --gutter: var(--space-l-xl);
  --flow-space: var(--space-s);
}
// GRID 4 columns
.grid[data-layout='4cols'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 25%, 18rem);
}
// GRID masonry
.grid[data-rows='masonry'] {
  grid-template-rows: masonry;
  align-items: start;
}

// CARD
.card {
  border-radius: var(--card-border-radius);
  max-width: unset;
  border: var(--card-border-width) solid var(--card-bg-color);
  background-color: rgb(251, 251, 251);
  box-shadow: 0px 0px 10px 1px rgba(133,133,133,0.25);
  .title {
    text-transform: uppercase;
    position: relative;
    padding-top: var(--space-m-l);
    padding-inline: var(--space-m-l);
    padding-bottom: 70px;
  }
  .content {
    margin-top: 0;
    color: var(--color-dark);
    background-color: var(--card-bg-color);
    padding-inline: var(--space-m-l);
    padding-bottom: var(--space-m-l);
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
  }
}

// Background colors
.bg-green-blue {
  background-image: linear-gradient(135deg, #0da87a 5%, #1d27aa 95%);
  color: var(--color-light);
}
.bg-orange-red {
  color: var(--color-light);
  background-image: linear-gradient( 68.3deg, rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% );
}



// SECTION DIVIDERS (https://www.shapedivider.app/)
.section-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  svg {
    position: relative;
    display: block;
    width: calc(163% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
  }
  .shape-fill {
    fill: var(--color-light);
  }
}

// CARD DIVIDER (https://www.shapedivider.app/)
.card-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 50px;
  }
  .shape-fill {
    fill: var(--card-bg-color);
  }
}

