
header {
  position: sticky;
  top: 0;
  background-color: var(--color-light);
  z-index: 2;
}

nav {
  font-size: var(--step-0);
  ul {
    padding: 0;
    margin: 0;
    text-align: center;
    // border-bottom: 1px solid var(--color-nav);
    li {
      display: inline-block;
      padding: var(--space-s);
      text-transform: uppercase;
      font-weight: 200;
      @media only screen and (max-width: $breakpoint-mobile) { 
        padding: var(--space-xs);
        font-size: var(--step--1);
      }
    }
  } 
  a {
    color: var(--color-nav-link);
    text-decoration: none;
    &:hover {
      color: var(--color-link);
      font-weight: 400;
    }
  }

}

// Inspired by https://buildexcellentwebsit.es/

// Add a .flow class to space correctly the children elements
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

section {
  padding-top: var(--section-space, var(--space-l-xl));
  padding-bottom: var(--section-space, var(--space-l-xl));
  position: relative;
  &.colored {
    background-image: linear-gradient(135deg, #0da87a 5%, #1d27aa 95%);
    color: var(--color-light);
  }
}

// GRID
.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
  gap: var(--grid-gutter, var(--space-s-l))
}
// GRID 2 columns
.grid[data-layout='50-50'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 24rem);
}
// GRID 3 columns
.grid[data-layout='33-33-33'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 33%, 20rem);
  --gutter: var(--space-l-xl);
  --flow-space: var(--space-s);
}
// GRID masonry
.grid[data-rows='masonry'] {
  grid-template-rows: masonry;
  align-items: start;
}

.card {
  background: var(--color-dark);
  color: var(--color-light);
  padding: var(--space-m-l);
  border-radius: var(--border-radius);
  max-width: unset;
  text-align: center;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--wrapper-max-width,85rem);
  padding-left: var(--grid-gutter);
  padding-right: var(--grid-gutter);
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}


.custom-shape-divider-top-1679431392 {
  position: absolute;
  top: 63px;
  @media only screen and (max-width: $breakpoint-mobile) { 
    top: 49px
  }
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 10;
}

.custom-shape-divider-top-1679431392 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-top-1679431392 .shape-fill {
  fill: var(--color-light);
}

.custom-shape-divider-bottom-1679435461 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679435461 svg {
  position: relative;
  display: block;
  width: calc(163% + 1.3px);
  height: 80px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1679435461 .shape-fill {
  fill: var(--color-light);
}
