<!DOCTYPE html>
<html lang="en">

<head>
  <title>Lionel Egger</title>

  <!-- meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex,nofollow">

  <!-- Inter font -->
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  <!-- CUSTOM CSS -->
  <link href="./css/style.css" rel="stylesheet">
    
</head>

<body>

  <header class="bg-green-blue">
    <nav role="navigation" class="wrapper nav-container desktop-only">
      <ul>
        <li><a href="#code" class="nav-link">Web Developper</a></li>
        <li><a href="#ux" class="nav-link">UX Designer</a></li>
        <li><a href="#photography" class="nav-link">Photographer</a></li>
        <li><a href="#biology" class="nav-link">Biologist</a></li>
      </ul>
    </nav>
    
    <section class="" id="intro">
      <div class="wrapper flow">
        <h1>Lionel Egger</h1>
        <p class="introduction">My professional path</p>
      </div>
      <div class="section-divider">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
      </div>
    </section>
    
  </header>

  <main>
    <section class="wrapper" id="code">
      <div class="flow">
        <h2>Web developper</h2>
        <p class="lead">With more than 15 years of experience working in the web, I developped small projects as well as a big website with millions of monthly visitors.</p>
        <p>The web is evolving constantly and that's what I like in this domain. I am discovering new technologies and methods every day to find solutions. My main assets in this field are my attention to details and my will to make simple and efficient designs and coding. It's the key for creating a website that is future proof.</p>
      </div>
      <ul class="grid" data-layout="4cols" data-rows="masonry" role="list">
        <li class="card bg-orange-red">
          <div class="title">
            <h3>.html</h3>
            <div class="card-divider">
              <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                  <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
              </svg>
            </div>
          </div>
          <div class="content">
            <p>Creation of clean, fast and accessible websites that respect good practices and optimized for SEO. </p>
          </div>
        </li>
        <li class="card bg-orange-red">
          <div class="title">
            <h3>.css</h3>
            <div class="card-divider">
              <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                  <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
              </svg>
            </div>
          </div>
          <div class="content">
            <p>It's the golden time for CSS lovers with browsers fully responsive and compliants</p>
          </div>
        </li>
        <li class="card bg-orange-red">
          <div class="title">
            <h3>Jahia</h3>
            <div class="card-divider">
              <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                  <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
              </svg>
            </div>
          </div>
          <div class="content">
            <p>Development with <a href="https://www.jahia.com/">Jahia</a>, a java plateform that deliver websites, portals, apps and personalized customer journeys.</p>
          </div>
        </li>
        <li class="card bg-orange-red">
          <div class="title">
            <h3>.php</h3>
            <div class="card-divider">
              <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                  <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
              </svg>
            </div>
          </div>
          <div class="content">
            <p>Creation of websites in PHP, using frameworks like <a href="https://cakephp.org/">cakePHP</a> and <a href="https://getkirby.com/">Kirby</a>.</p>
          </div>
        </li>
      </ul>
      <h3>Experiences</h3>
      <ul class="timeline">
        <li>
          <div class="date">2021</div>
          <div class="icon"></div>
          <div class="content">
            <h4 class="title">Lead Web designer</h4>
            <div class="org">ISO</div>
            <div class="description">
              <p>Development of a web framework</p>
              <p>Front-end development</p>
            </div>
          </div>
        </li>
        <li>
          <div class="date">2016</div>
          <div class="icon"></div>
          <div class="content">
            <h4 class="title">Web designer</h4>
            <div class="org">ISO</div>
            <div class="description">
              <p>Front-end development</p>
            </div>
          </div>
        </li>
        <li>
          <div class="date">2014</div>
          <div class="icon"></div>
          <div class="content">
            <h4 class="title">Research assistant in SES</h4>
            <div class="org">University of Geneva</div>
            <div class="description">
              <p>Working on facial animation </p>
            </div>
          </div>
        </li>
        <li>
          <div class="date">2011</div>
          <div class="icon"></div>
          <div class="content">
            <h4 class="title">DEA in Information Systems</h4>
            <div class="org">University of Geneva</div>
            <div class="description">
              <p>Master thesis on virtualization of a 3D termopolium scene</p>
              <p>DEA in information systems</p>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="wrapper" id="ux">
      <div class="flow">
        <h2>UX Designer</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat explicabo ut animi consequuntur quam error dolorum ad debitis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum veritatis ut quia pariatur vero, alias iure quidem nesciunt sunt unde sint, eligendi nemo cum nisi dicta perferendis nostrum incidunt sit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, vitae! Ducimus nihil minima nostrum at earum, nisi alias velit libero ab ad cum ipsa asperiores quo! Dolorum sint consectetur natus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse deleniti blanditiis dolorum velit reiciendis nobis commodi adipisci, nihil et dolorem? Nesciunt delectus earum ipsam beatae, adipisci blanditiis maxime et! Officia!</p>
      </div>
    </section>
    <section class="wrapper" id="photography">
      <div class="flow">
        <h2>Photographer</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt recusandae cupiditate atque vitae laudantium, voluptates itaque possimus! Animi, illum explicabo sint ut cumque impedit facilis delectus expedita minus ex iste?</p>
      </div>
    </section>
    <section class="wrapper" id="biology">
      <div class="flow">
        <h2>Biologist</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt recusandae cupiditate atque vitae laudantium, voluptates itaque possimus! Animi, illum explicabo sint ut cumque impedit facilis delectus expedita minus ex iste?</p>
        <p>Lorem ipsum dolor sit amet consectetur. Ipsum veritatis ut quia pariatur vero, alias iure quidem nesciunt sunt unde sint, eligendi nemo cum nisi dicta perferendis nostrum incidunt sit.</p>
      </div>
    </section>
    
  </main>
  
  <footer class="bg-green-blue">
    <section class="wrapper" id="contact">
      <div class="flow">
        <h2>Contact</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt recusandae cupiditate atque vitae laudantium, voluptates itaque possimus! Animi, illum explicabo sint ut cumque impedit facilis delectus expedita minus ex iste?</p>
      </div>
    </section>
  </footer>

</body>

</html>